* {
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: blue;
}

.imagen {
    border: 64px;
    border-color: rgb(184, 40, 14);
    border-style: inset;
}